/* Mobile First Version */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--light-pink);
    font-family: "WorkSans", sans-serif;
    min-height: 100vh;
}

picture {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
}

.banner {
    width: 100%;
    position: relative;
}

main {
    margin: 5em 0;
    background: var(--white);
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgba(181, 138, 181, 0.155) 0 0 20px 10px;
    padding: 25px;
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;

}

.page-title img {
    height: 30px;
}

.faq-question {
    margin-top: 25px;
    border-bottom: var(--light-pink) solid 2px;
}

.faq-question:last-of-type {
    border-bottom: none;
}


.question {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.question h2 {
    font-size: 18px;
    width: 75%;
}

.answer {
    display: none;
    color: var(--grayish-purple);
    margin-bottom: 20px;
    line-height: 25px;
}

#expand {
    cursor: pointer;
}

.attribution {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}